<div class="video-player-wrapper">
    <app-video-player [src]="video_src"></app-video-player>
</div>


<a>
   what is the name of the video player you want to play on your device and what do you want to do with it on your device 
   and what do you want to do with it on your device and what do you want to do with it on your device and what do you want to 
   do with it on your device and what do you want to do with it on your device and what do you want to do with it on
   your device and what do you want to do with it on your device and what do you want to do with it on your device and what 
   do you want to do with it on your device and what do you want to do with it on your device and what do you want to do 
   with it on your device and what do you want to do with it on your device and what do you want to do with it with  
</a>